#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media screen and (max-width: 425px) {
  #home-container {
    height: 100%;
  }
}
