#navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  height: 10vh;
  width: 100%;
  background-color: #eff5f5;
  color: #000;
  padding: 0 2rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1;
}

#navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#navbar-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
